@model Church_Finder.Models.Location

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Religion" class="control-label"></label>
                <input asp-for="Religion" class="form-control" />
                <span asp-validation-for="Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sect" class="control-label"></label>
                <input asp-for="Sect" class="form-control" />
                <span asp-validation-for="Sect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Members" class="control-label"></label>
                <input asp-for="Members" class="form-control" />
                <span asp-validation-for="Members" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoundedDate" class="control-label"></label>
                <input asp-for="FoundedDate" class="form-control" />
                <span asp-validation-for="FoundedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumServices" class="control-label"></label>
                <input asp-for="NumServices" class="form-control" />
                <span asp-validation-for="NumServices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address1" class="control-label"></label>
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateProvince" class="control-label"></label>
                <select asp-for="StateProvince" class="form-control" asp-items="Location.States">
                    <option value="" selected>State</option>
                </select>
                <span asp-validation-for="StateProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input name="image" type="file" class="form-control-file"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Missions" /> @Html.DisplayNameFor(model => model.Missions)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CommunityGroups" /> @Html.DisplayNameFor(model => model.CommunityGroups)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MarriageCounseling" /> @Html.DisplayNameFor(model => model.MarriageCounseling)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ChildCare" /> @Html.DisplayNameFor(model => model.ChildCare)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="YouthMinistry" /> @Html.DisplayNameFor(model => model.YouthMinistry)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="YoungAdultMinistry" /> @Html.DisplayNameFor(model => model.YoungAdultMinistry)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnlineService" /> @Html.DisplayNameFor(model => model.OnlineService)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

