@model Church_Finder.Models.LocationReligionViewModel

@{
    ViewData["Title"] = "Search Results";
}

<h1>@ViewBag.SearchHeader</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<partial name="_BasicSearch" />
<div id="locations-grid">
    @foreach (var item in Model.Locations)
    {
        <div class="location-block">
            <p>
                <div class="location-image"><img asp-append-version="true" src="@item.Image" /></div><br/>
                <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a><br />
                @Html.DisplayFor(modelItem => item.Address1) <br />
                @{
                    if (!string.IsNullOrEmpty(item.Address2))
                    {
                        Html.DisplayFor(modelItem => item.Address2); <br />
                    }
                }
                @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.StateProvince) <br />
                @Html.DisplayFor(modelItem => item.Zip)<br />
            </p>
        </div>
    }
</div>